<div class="role-container">
    <h2 class="role">
        <%if(role==="farmer"){%>
            Farmer - <%-stakeholder.orgName%>
        <%}else if(role==="wholesaler") {%> 
            Wholesaler - <%-stakeholder.orgName %>
        <%}else if(role==="retailer") {%>
            Retailer
        <%}else if(role==="distributor") {%>
            Distributor - <%-stakeholder.orgName %>
        <%}%> 
    </h2>
    <% if(path==="/farmer/all-products"){%>
    <button onclick="displayAddProduct()" id="upload-btn"  type="submit" class="upload-btn">+UPLOAD PRODUCT</button>
    <%}%>
  </div>