<header class="nav-container">
  <h1 class="heading">Dashboard</h1>
  <nav class="nav">
    <ul>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesaler/all-products' ? 'active' : '' %>"
          href="/wholesaler/all-products"
          >All Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesale/purchased-products' ? 'active' : '' %>"
          href="/farmer/purchased-products"
          >Puchased Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesale/sold-products' ? 'active' : '' %>"
          href="/farmer/sold-products"
          >Sold Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesaler/available-products' ? 'active' : '' %>"
          href="/wholesaler/available-products"
          >Available Products</a
        >
      </li>
    </ul>
  </nav>
  <button class="logout-btn" type="submit">Logout</button>
</header>
