<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Welcome</title>
  </head>
  <body style="background-image: url('images/background.jpg')">
    <div class="flex-container">
      <div class="index-container">
        <div class="logo">
          <img src="images/tomatrack-logo.png" alt="Tomatrack logo" />
        </div>
        <div class="welcome-text-box">
          <p>
            Revolutionizing the Tomato Industry with Blockchain Brilliance! Say
            goodbye to uncertainty and embrace the power of transparency with
            our cutting-edge technology. TomaTrack leverages blockchain to trace
            every step of the tomato's journey, from farm to table, ensuring
            unparalleled quality and trust enabling consumers to savor the
            juiciest, ripest indigenous tomatoes with absolute confidence.
          </p>
          <div class="get-started">
            <a href="http://">GET START</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
