
/* styling product container */
.product-container{
    /* border: 1px solid blue; */
    /* width: 100%; */
    height: 35%;
    display:flex;
    flex-wrap: nowrap;
    /* margin-bottom: 30px; */
}

.stakeholder-section{
    /* border:1px solid red; */
    width: 20%;
    height: 300px;
    text-align: center;
}
.stakeholder-logo-container{
    border:3px solid rgb(30, 70, 120);
    border-radius: 5px;
    width:100%;
    height: 150px;
}
.stakeholder-logo-container img{
    width:100%;
    height: 100%;
}
.stakeholder-name{
    font-size: 20px;
}

.green-line{
    /* border:1px solid green; */
    width: 10%;
    height: 20px;
    margin-top: 70px;
    background-color: rgb(145, 231, 145);
    text-align: center;
}

.info-box{
    width: 50%;
    margin:auto;
    padding: 20px;
    border: 1px solid red;
    /* text-align: center; */
}
.info-box h1{
    text-align: center;
    color:brown;
}
.info-box li{
    /* margin: 5px 0 5px 20px; */
    margin:5px 0;
}
li b{
    color:rgba(255, 0, 0, 0.781);
}
.info-list{
    margin-left: 20px;
}