<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/register.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="registration-container">
      <div class="left-column">
        <div class="left-column-image-container">
          <img src="images/blockchain.png" alt="blockchain" />
        </div>
      </div>
      <div class="right-column">
        <div class="image-outer-container">
          <div class="right-column-image-container">
            <img src="images/blockchain-logo.jpg" alt="" />
          </div>
        </div>
        <div class="login-form-container">
          <section class="form-heading">
            <h1 class="form-heading-text">Login</h1>
          </section>
          <form action="" method="post">
            <div class="user-email">
              <label for="user-email">email<span>*</span></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="enter email"
                required
              />
            </div>
            <div class="user-password">
              <label for="user-password">password<span>*</span></label>
              <input
                type="password"
                name="password"
                id="userPassword"
                placeholder="enter password"
                required
              />
            </div>
            <a href="/registration">Registration</a>
            <div class="submit-button">
              <button type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
