<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registration Page</title>
  </head>
  <body>
    <div class="registration-container">
      <div class="left-column">
        <div class="left-column-image-container">
          <img src="images/blockchain.png" alt="blockchain" />
        </div>
      </div>
      <div class="right-column">
        <div class="image-outer-container">
          <div class="right-column-image-container">
            <img src="images/blockchain-logo.jpg" alt="" />
          </div>
        </div>
        <div class="registration-form-container">
          <section class="form-heading">
            <h1 class="form-heading-text">Register</h1>
          </section>
          <form name="register" action="" method="post" onsubmit="validate()">
            <div class="role">
              <label for="role">Role<span>*</span></label>
              <select name="role" id="role">
                <option value="" disabled selected hidden>select role</option>
                <option value="Farmer">Farmer</option>
                <option value="Wholesaler">Wholesaler</option>
                <option value="Distributor">Distributor</option>
                <option value="Retailer">Retailer</option>
              </select>
            </div>
            <div class="organization-name">
              <label for="organization-name"
                >Name of Organization<span>*</span></label
              >
              <input
                type="text"
                name="name"
                id="name"
                placeholder="enter name of organization"
                required
              />
            </div>
            <div class="email">
              <label for="email">Email<span>*</span></label>
              <input
                type="email"
                name="email"
                id="email"
                required
                placeholder="enter email"
              />
            </div>
            <div class="country">
              <label for="country">Country<span>*</span></label>
              <select name="country" id="country" required>
                <option value="" disabled selected hidden>
                  select country
                </option>
                <option value="Ghana">Ghana</option>
              </select>
            </div>
            <div class="region">
              <label for="region">Region<span>*</span></label>
              <select name="region" id="region" required>
                <option value="" disabled selected hidden>
                  select a region in Ghana
                </option>
                <option value="Greater Accra">Greater Accra Region</option>
                <option value="Ashanti">Ashanti Region</option>
                <option value="Bono">Bono Region</option>
                <option value="Bono East">Bono East Region</option>
                <option value="Central">Central Region</option>
                <option value="Ahafo">Ahafo Region</option>
                <option value="Eastern">Eastern Region</option>
                <option value="Northen">Northen Region</option>
                <option value="Savannah">Savannah Region</option>
                <option value="North East">North East Region</option>
                <option value="Upper East">Upper East Region</option>
                <option value="Upper West">Upper West Region</option>
                <option value="Volta">Volta Region</option>
                <option value="Oti">Oti Region</option>
                <option value="Western">Western Region</option>
                <option value="Western North">Western North Region</option>
              </select>
            </div>
            <div class="password">
              <label for="password">Password<span>*</span></label>
              <input
                minlength="4"
                class="pword"
                type="password"
                name="password"
                id="password"
                placeholder="enter password"
                required
              />
            </div>
            <div class="password">
              <label for="confirm-password"
                >Confirm Password<span>*</span></label
              >
              <input
                minlength="4"
                class="cpword"
                type="password"
                name="confirm-password"
                id="confirmPassword"
                placeholder="confirm password"
                required
              />
            </div>
            <span id="message"></span>
            <div class="submit-button">
              <button class="regiter-submit" type="submit" id="submit">
                Submit
              </button>
            </div>
          </form>
          <a href="/login">already have an account? Login Here</a>
        </div>
        <script>
          $("form").validate();
        </script>
        <script>
          $("#password, #confirmPassword").on("keyup", function () {
            if (
              $("#password").val() == "" &&
              $("#confirmPassword").val() == ""
            ) {
              $("#message").html("enter password").css("color", "red");
            } else if ($("#password").val() == $("#confirmPassword").val()) {
              $("#message").html("passwords match").css("color", "green");
              $("#submit").prop("disabled", false);
            } else {
              $("#submit").prop("disabled", true);
              $("#message").html("passwords do not match ").css("color", "red");
            }
          });
        </script>
      </div>
    </div>
  </body>
</html>
