<%-include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/QRcode.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src = "/js/main.js"></script>
</head>
<body onload="displayQRcode()" >
    <main class="dashboard">
        <%-include("../includes/retailer-navigation.ejs", {user: user}) %>
        <section class="main">
            <%-include("../includes/role.ejs", {stakeholder: user}) %>
            <div class="QRcode-container">
                <div id="center" class="center">
                    <div id="qrcode">
                        <h1>Scan Here</h1>
                    </div>
                    <div class="QRcode-title-container">
                        <h1 class="QRcode-title" id="QRcode-title">Batch No.: <%= prod.batchNum %></h1>
                    </div>
                </div>
                <button class="print-QRcode-btn" onclick="printQRcode('center')">Click To Print QR Code</button>
            </div>
        </section>
    </main>
</body>
</html>