<%-include("../includes/head.ejs") %>
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    <div class="registration-container">
      <div class="left-column">
        <div class="left-column-image-container">
          <img src="images/blockchain.png" alt="blockchain" />
        </div>
      </div>
      <div class="right-column">
        <div class="image-outer-container">
          <div class="right-column-image-container">
            <img src="images/blockchain-logo.jpg" alt="" />
          </div>
        </div>
        <div class="product-container">
          <section class="stakeholder-section">
            <div class="stakeholder-logo-container">
              <img src="images/farmer-icon.png" alt="farmer-logo" srcset="" />
            </div>
            <h1 class="stakeholder-name">Farmer A</h1>
            <p class="location">Accra,Ghana</p>
          </section>
          <div class="green-line">
            <i class="fa-regular fa-circle-check" style="color: #ffffff"></i>
          </div>
          <section class="stakeholder-section">
            <div class="stakeholder-logo-container">
              <img
                src="images/wholesaler-icon.png"
                alt="wholesaler-logo"
                srcset=""
              />
            </div>
            <h1 class="stakeholder-name">wholesaler B</h1>
            <p class="location">Accra,Ghana</p>
          </section>
          <div class="green-line">
            <i class="fa-regular fa-circle-check" style="color: #ffffff"></i>
          </div>
          <section class="stakeholder-section">
            <div class="stakeholder-logo-container">
              <img
                src="images/distributor-icon.png"
                alt="wholesaler-logo"
                srcset=""
              />
            </div>
            <h1 class="stakeholder-name">Distributor C</h1>
            <p class="location">Accra,Ghana</p>
          </section>
          <div class="green-line">
            <i class="fa-regular fa-circle-check" style="color: #ffffff"></i>
          </div>
          <section class="stakeholder-section">
            <div class="stakeholder-logo-container">
              <img
                src="images/retailer-icon.png"
                alt="wholesaler-logo"
                srcset=""
              />
            </div>
            <h1 class="stakeholder-name">Retailer D</h1>
            <p class="location">Accra,Ghana</p>
          </section>
        </div>
      </div>
    </div>
  </body>
  <%-include("../includes/end.ejs") %>
