<%-include("../includes/head.ejs") %>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/add-product.css">
  </head>
  <body>
    <main class="dashboard">
      <%-include("../includes/farmer-navigation.ejs") %>
      <section class="main">
        <%-include("../includes/role.ejs") %>
        <div onclick="removeAddProduct()" class="products-container">
          <h2 class="products-title">All Products</h2>
          <div id="add-product-container" class="add-product-container">
            <form action="/farmer/add-product" method="post">
              <div class="input-lable-container">
                <label for="batchNum">
                  Batch No.
                  <br>
                  <input type="number" name="batchNum" id="batchNum">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="variety">
                  Variety
                  <br>
                  <input type="text" name="variety" id="variety">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="weight">
                  Weight (kg)
                  <br>
                  <input type="number" name="weight" id="weight">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="price">
                  Price / kg
                  <br>
                  <input type="number" name="price" id="price">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="Harvest-date">
                  Harvest Date
                  <br>
                  <input type="date" name="harvestDate" id="harvestDate">
                </label>
              </div>
              <button class="add-product-btn" type="submit">Add Product</button>
            </form>
          </div>
          <table class="products-table">
            <tr class="products-heading-container">
              <th class="product-heading">Batch No.</th>
              <th class="product-heading">Harvest Date</th>
              <th class="product-heading">Variety</th>
              <th class="product-heading">Weight(kg)</th>
              <th class="product-heading">Price/kg</th>
            </tr>
            <tr class="products-info-container">
              <td class="products-info">BA5555</td>
              <td class="products-info">09-06-2023</td>
              <td class="products-info">Power Rano</td>
              <td class="products-info">1000</td>
              <td class="products-info">GHc300</td>
              <td class="products-info">
                <button class="del-btn" type="submit">Delete</button>
              </td>
            </tr>
            <tr class="products-info-container">
              <td class="products-info">BA5555</td>
              <td class="products-info">09-06-2023</td>
              <td class="products-info">Power Rano</td>
              <td class="products-info">1000</td>
              <td class="products-info">GHc300</td>
              <td class="products-info">
                <button class="del-btn" type="submit">Delete</button>
              </td>
            </tr>
            <tr class="products-info-container">
              <td class="products-info">BA5555</td>
              <td class="products-info">09-06-2023</td>
              <td class="products-info">Power Rano</td>
              <td class="products-info">1000</td>
              <td class="products-info">GHc300</td>
              <td class="products-info">
                <button class="del-btn" type="submit">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      </section>
    </main>
  </body>
<%-include("../includes/end.ejs")%>
